/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #EEE;
}

h1 {
  font-family: Rajdhani, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

h2 {
  font-family: Rajdhani, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

p {
  font-family: Rajdhani, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}